$base-white: #fff;
$base-black: #000;
$base-black-opacity-25: rgb(0 0 0 / 25%);

$black-light: #343434;

$grey-dark: #404040;
$grey: #4b4b4b;
$grey-light: #828282;
$grey-light2: #9e9e9e;

$yellow: #ffd83c;
$orange: #fdbd46;
$violet: #7553ff;
$blue: #099ce8;
$blue-2: #6ba6ff;
$blue-light: #c5dcff;
$blue-very-light: #d9e8ff;
